/* Import Google font - Poppins & Noto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::selection{
  color: #fff;
  background: #4db2ec;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}
.loginform{
  text-align: center;
  max-width: 450px;
  max-height: 500px;
  width: 100%;
  background: rgba(255, 255, 255, 0.58);
  padding: 22px 30px 40px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
}
.wrapper{
  max-width: 450px;
  max-height: 500px;
  width: 100%;
  background: rgba(255, 255, 255, 0.58);
  padding: 22px 30px 40px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
}

.wrapper header{
  color: #ffffff;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
}
.wrapper .captcha-area{
  display: flex;
  height: 65px;
  margin: 0px 0 0px;
  align-items: center;
  justify-content: space-between;
}
.captcha-area .captcha-img{
  height: 100%;
  width: 345px;
  user-select: none;
  background: #000;
  border-radius: 20px;
  position: relative;
}
.captcha-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  opacity: 1;
}
.captcha-img .captcha{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  color: #fff;
  font-size: 35px;
  text-align: center;
  letter-spacing: 10px;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 2px #b1b1b1;
  font-family: 'Noto Serif', serif;
}
.wrapper button{
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.wrapper button:hover{
  background: #8f979c4c;
  cursor: pointer;
  box-shadow: 0px 0px 0px #ccc
}
.wrapper button:active{
  background-color: #aaa
}
.captcha-area .reload-btn{
  width: 75px;
  height: 100%;
  font-size: 25px;
  background-color: #4db2ec;
}
.wrapper .status-text{
  display: none;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 -5px;
}
.images{
  max-width: 400px;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: center;
}
.modal-dialog{
  text-align: center;
}
.modal-header .modal-title{
  text-align: right;
}

.modal-content{
  text-align: center;
  margin: auto;
  width: 100%;
  border: 3px solid rgb(109, 110, 109);
  padding: 10px;
}

input[type="submit"]{
  font-size: 20px;
}
input[type="submit"]:hover{
  background-color: #46ceff;
}